.change-negative-5 {
    background-color: rgba(244, 67, 54, 0.8);
    color: whitesmoke;
}

.change-negative-4 {
    background-color: rgba(244, 67, 54, 0.7);
    color: whitesmoke;
}

.change-negative-3 {
    background-color: rgba(244, 67, 54, 0.6);
    color: whitesmoke;
}

.change-negative-2 {
    background-color: rgba(244, 67, 54, 0.4);
}

.change-negative-1 {
    background-color: rgba(244, 67, 54, 0.3);
}

.change-negative-0 {
    background-color: rgba(244, 67, 54, 0.2);
}

.change-positive-5 {
    background-color: rgba(76, 175, 80, 0.8);
    color: whitesmoke;
}

.change-positive-4 {
    background-color: rgba(76, 175, 80, 0.7);
    color: whitesmoke;
}

.change-positive-3 {
    background-color: rgba(76, 175, 80, 0.6);
    color: whitesmoke;
}

.change-positive-2 {
    background-color: rgba(76, 175, 80, 0.4);
}

.change-positive-1 {
    background-color: rgba(76, 175, 80, 0.3);
}

.change-positive-0 {
    background-color: rgba(76, 175, 80, 0.2);
}

